table{
    margin-top: 50px;
    width: 100%;
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
}

th{
    padding: 10px;
}

td{
    text-align: center;
    padding: 10px;
}

img{
    border-radius: 8px;
}